In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("./database/etl_data.db")
df = pd.read_sql("SELECT * FROM born_date_data", conn)
print(df.head())
conn.close()

        id   name    phone_number   born_date
0  ab10212  Blair  +6281883494035  1987-11-20
1  ab10213   Kurt  +6281615589027  1991-04-06
2  ab10214  Brain  +6281429780440  1992-04-13
3  ab10215   Seth  +6281716992765  1989-01-04
4  ab10216  Madge  +6281902482399  1990-08-11